.nav-link {
  border-top: 1px solid var(--light-gray);
  padding-top: 2rem;
  margin-block: 1rem;
  display: flex;
  align-items: center;

  & .prev {
    flex-direction: row;
    text-align: left;
    display: flex;
    align-items: center;
  }

  & .next {
    text-align: right;
    margin-left: auto;
    padding-left: 2rem;
    display: flex;
    align-items: center;
  }
}