.hero-wrapper {
  background:
    linear-gradient(180deg, rgba(210, 210, 255, 0.50) 30%,
      var(--background) 100%),
}

.hero {
  background: linear-gradient(180deg, rgba(210, 210, 255, 0.50) 30%,
      var(--background) 100%), url('/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;

  .content {
    max-width: 640px;

    .title {
      font-size: 3rem;
      font-weight: 700;
    }

    .subtitle {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}