.search-result {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.25rem;
  list-style: none;
  padding: 0;
  max-height: 32rem;
  overflow-y: auto;

  &-item {
    background: transparent;
    padding: 0.5rem;

    &.active {
      background: var(--primary);
      border-radius: calc(var(--border-radius) / 2);

      a {
        color: var(--background);
      }
    }

    a {
      padding: 0.5rem;

      &:focus {
        outline-offset: 0.25rem;
        border-radius: calc(var(--border-radius) / 2 - 0.25rem);
      }
    }
  }
}