header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  top: 0px;
  padding-inline: calc(50vw - var(--container-width) / 2);
  height: var(--navbar-height);
  backdrop-filter: blur(0.5rem);
  z-index: 1;
  transition: box-shadow 0.2s ease-in-out;

  &.sticky {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 8px 32px rgba(16, 22, 26, 0.2);
    transition: box-shadow 0.2s ease-in-out;

    // prefer dark
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 8px 32px rgba(255, 255, 255, 0.2);
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-gray);
    padding-inline: 1rem;
    width: 100%;

    .nav-menu {
      gap: 1rem;
      display: flex;
      align-items: center;

      .active {
        color: var(--primary);
      }

      .search-box {
        button {
          color: inherit;
          border: none;
          cursor: pointer;
          background: inherit;
          padding: 0.5rem;
          border-radius: calc(var(--border-radius) / 2);
          transition: background 0.2s ease-in-out;

          &:hover {
            background: var(--background);
          }
        }
      }
    }
  }
}