.sidebar {
  width: 12rem;
  position: sticky;
  top: 11rem; // navbar height(3rem) + translateY content (8rem) 
  max-height: calc(100vh - 3rem); // 100vh - navbar height
  overflow-y: auto;
  flex-shrink: 0;

  @media (width <=576px) {
    display: none;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    
    ul {
      padding-inline-start: 1rem;
    }
  }

  .active {
    color: var(--primary);
  }
}