.footer {
  padding: 1rem;
  background: transparent;
  border-top: 1px solid var(--light-gray);
  justify-content: space-between;
  align-items: center;
  display: flex;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}